<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.cs5003.bookstore_test.servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Add Book Servlet</description>
        <servlet-name>AddBookServlet</servlet-name>
        <servlet-class>com.cs5003.bookstore_test.servlets.AddBookServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Admin Login Servlet</description>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.cs5003.bookstore_test.servlets.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description>Buy Book Servlet</description>
        <servlet-name>BuyBooksServlet</servlet-name>
        <servlet-class>com.cs5003.bookstore_test.servlets.BuyBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <description>ReceiptServlet</description>
        <servlet-name>ReceiptServlet</servlet-name>
        <servlet-class>com.cs5003.bookstore_test.servlets.ReceiptServlet</servlet-class>
    </servlet>
    <servlet>
        <description>RemoveBookServlet</description>
        <servlet-name>RemoveBookServlet</servlet-name>
        <servlet-class>com.cs5003.bookstore_test.servlets.RemoveBookServlet</servlet-class>
    </servlet>
    <servlet>
        <description>UserLoginServlet</description>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.cs5003.bookstore_test.servlets.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <description>UserRegisterServlet</description>
        <servlet-name>UserRegisterServlet</servlet-name>
        <servlet-class>com.cs5003.bookstore_test.servlets.UserRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <description>ViewBookServlet</description>
        <servlet-name>ViewBookServlet</servlet-name>
        <servlet-class>com.cs5003.bookstore_test.servlets.ViewBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/addbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/adminlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyBooksServlet</servlet-name>
        <url-pattern>/buybook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReceiptServlet</servlet-name>
        <url-pattern>/buys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveBookServlet</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/userlog</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserRegisterServlet</servlet-name>
        <url-pattern>/userreg</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewBookServlet</servlet-name>
        <url-pattern>/viewbook</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>Sample.html</welcome-file>
    </welcome-file-list>
</web-app>
